<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="Test">
	  <parameter name="FPath" value="C:\Users\vaibhav.vaghela\Desktop\Training\product.xlsx"/>
    <classes>
      <class name="TestNG.Assertion"/>
      <class name="TestNG.Parameterization"/>
      <class name="TestNG.Paralleltests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
